/*B4D05A*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

*::selection {
  background-color: #B4D05A;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
section {
  background-color: #1C1E22 !important;
  padding: 90px 0 40px;
}

.contanier {
  width: 85%;
  margin: auto;
}

.btn {
  padding: 15px 25px;
  color: #f0f0f0;
  font-weight: 500;
  background-color: #B4D05A;
  border-radius: 10px;
  border: 1px solid #B4D05A;

}

.btn:hover {
  color: #B4D05A;
  background: #fff;
  box-shadow: 0 0 40px #3ED03A;
}

.cv-btn {
  background: none;
  border: 1px solid #B4D05A;
  color: #B4D05A;
}

.cv-btn:hover {
  background-color: #B4D05A;
  color: #fff;
}

.sec-top {
  text-align: center;
  margin-bottom: 70px;
}

.sec-top h1 {
  color: #fff;
  font-size: 40px;
}

.sec-top h1 span {
  color: #B4D05A;
}

.boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxs .box {
  width: 30%;
}

.btns {
  margin-left: -20px;
}

/* start Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 11;

}

header.active {
  background-color: rgba(255, 255, 139, 0);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-bottom: 1.5px solid #5D5D5D;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header nav .nav-links a {
  color: #fff;
  margin-left: 50px;
}

header nav .nav-links a:hover,
header nav .nav-links a.active {
  color: #B4D05A;
}

.logo {
  color: #B4D05A;
  font-size: 27px;
  letter-spacing: -3px;
}

/*start product bage*/

/*end product bage*/


#btn-menu {
  display: none;
}


/* start Hero */

.hero {
  padding-top: 80px;
  background: url(img/hero-bg.png);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .contanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .content h4 {
  color: #B4D05A;
  font-size: 30px;
}

.hero .content h1 {
  color: #fff;
  font-size: 65px;
  margin: 20px 0 10px;
}

.hero .content p {
  color: #e4e4e4;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 50px;
}

.hero .content .btn {
  font-size: 18px;
}

.hero .hero-img img {
  width: 450px;
  border-radius: 50%;
  animation: animate 1s ease 0s 1 normal forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icon-speretor {
  height: 50px;
  background-color: #39414E;
}

.skillIcon {
  padding: 5px;
  width: 100%;
}

.skillIcon img {
  width: 40px;
  margin: 0 5%;
}

/* start about */

.about {
  padding: 90px 0 50px;
}

.about .contanier {
  display: flex;
  justify-content: center;
}

.about .about-img img {
  width: 250px !important;
  border-radius: 6px;
  box-shadow: 4px 4px 1px #4A5E36;
  opacity: 0;
  transition: 2s;
}

.about .content {
  margin-left: 10px;
  text-align: left;
}

.about .content h1 {
  color: #fff;
  font-size: 45px;
}

.about .content h1 span {
  color: #B4D05A;
}

.about .content h3 {
  color: #1c1e22;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.about .content pre {
  max-width: 330px;
  color: #f0f0f0;
  line-height: 1.8;
  margin-bottom: 70px;
  text-align: left;
text-wrap: wrap;
height: 400px;
overflow-y: auto;
padding: 5px;

}

/* start Services */

.services {
  background-color: #f0f4f9;
  text-align: center;
}

.services .boxs .box {
  background-color: #39414E;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 6px 6px 0px #368042;
  position: relative;
  top: 0;
}

.services .boxs .box:hover {
  top: -25px;
}

.services .boxs .box i {
  color: #B4D05A;
  font-size: 50px;
  margin-bottom: 20px;
}

.services .boxs .box h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.services .boxs .box p {
  color: #AEAFB1;
  margin-bottom: 50px;
}


/* start Portfolio */
.portfolio .contanier{
  text-align: center;
}
.portfolio .boxs .box {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.portfolio .boxs .box img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.portfolio .boxs .box:hover img {
  transform: scale(1.2);
  rotate: -4deg;
  transition: 0.6s ease-out;
}

.portfolio .boxs .box .box-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #111111b9;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.6s;
  opacity: 0;
}
.veiw{
  color: #fff;
  background-color: #B4D05A;
  padding: 7px 20px;
  border-radius: 15px;
  font-size: 13px;
  position: absolute;
  bottom: 3px;
}
.portfolio .boxs .box:hover .box-hover {
  opacity: 1;
}

.portfolio .boxs .box .box-hover span {
  color: #fff;
  font-size: 25px;
}


/*stat start*/
.stat-box {
  background-color: #39414E;
  width: 250px;
  height: 100px;
  margin: 30px 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 6px 6px 0px #368042;
}
.stat-box h1{
  color:#B4D05A;
  padding: 13px 0;
}
.stat-box span{
  font-size: 25px;
  color: #fff;
}

/*end start*/



/*start acconts*/
.acc-boxs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.acc-box {
  background-color: #39414E;
  width: 250px;
  height: 100px;
  margin: 30px 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 6px #4D4E4B;
}

.acc-img {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -40px;
}

.acc-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #39414E;
}

.acc-box h3 {
  font-weight: 600;
  font-size: 16px;
  color: #f7f7f7;
  margin: 8px;
}

.veiw-link {
  color: #B4D05A;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}


/*end accaonts*/




/* start Contact */

.contact {
  background: #f0f4f9;
}

.contact form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form input {
  width: 48%;
  font-size: 18px;
  padding: 15px 10px;
  outline: none;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 1px #666666;
}

.contact form textarea {
  outline: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border: none;
  box-shadow: 4px 4px 1px #666666;
}

.contact form button {
  margin: 40px auto 0;
  cursor: pointer;
}

.con-img img {
  width: 300px;
}

/* scroll */
#scrolling {
  background-color: #B4D05A;
  border: none;
  border-radius: 50%;
  color: #10cab7;
  position: fixed;
  right: 7%;
  bottom: 5%;
  display: none;
  font-size: 20px;
  color: #3a6cf4;
  width: 40px;
  height: 40px;
  z-index: 10;
  animation: fill 2s infinite ease-in-out;
}

#scrolling i {
  color: #fff;
}

.con-img {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

/*skills*/
.skills {
  background-color: #000;
  z-index: -2;
}

.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.skill-bar {
  width: 100%;
  background-color: #39414E;
  height: 30px;
  z-index: -2;
  border-radius: 50px;
  margin-bottom: -30px;

}

.skill-fill {
  background: linear-gradient(30deg,#11998e,#38ef7d);
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  width: 0;
  overflow: hidden;
  transition: 1s ease-out;
}

@keyframes fill {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.skill-percent {
  font-size: 20px;
  color: #fff;
}


/*start footer*/

footer {
  width: 100%;
  background: linear-gradient(30deg,#11998e,#38ef7d);
  text-align: center;
}

footer .footer-info {
  padding: 20px;
}

footer .footer-info h3 {
  color: #f0f0f0;
  margin: 20px 0;
}

footer .footer-info h3 span {
  color: #f0f0f0;
}

footer .right {
  height: 150px;
  background: linear-gradient(30deg,#11998e,#38ef7d);
  width: 100%;
  text-align: center;
  border-top: 1px dashed #4E4C4C;
  padding: 20px;
}

footer .right .icons a {
  color: #122;
  font-size: 25px;
  padding:20px 10px;
}

footer .right p {
  color: #B4D05A;
  font-weight: 600;
  padding: 15px;
}

footer .right p span {
  color: #fff !important;
}

/*end footer*/
.icons a {
  color: #B4D05A;
  font-size: 25px;
  padding: 20px 10px;
}
/* Media */

@media(max-width:1200px) {
  .contanier {
    width: 90%;
  }

  .hero .content h1 {
    font-size: 50px;
  }

  .hero .content p {
    font-size: 25px;
  }

  .hero .hero-img img {
    width: 380px;
  }

  .hero {
    padding-bottom: 40px;
  }

  .about .content h3 {
    font-size: 20px;
  }

  .about .content p {
    margin-bottom: 50px;
  }

  .about .about-img img {
    width: 380px;
  }

  .services .boxs .box h3 {
    font-size: 22px;
  }

  .contact form {
    width: 70%;
  }

}

@media(max-width:900px) {
  .hero .content h1 {
    font-size: 40px;
  }

  .hero .content p {
    font-size: 22px;
  }

  .hero .hero-img img {
    width: 340px;
  }

  header nav .nav-links a {
    margin-left: 40px;
  }

  .about .contanier {
    flex-direction: column;
    text-align: center;
  }

  .about .about-img img {
    width: 340px;
  }

  .about .about-img {
    margin-bottom: 40px;
  }

  .boxs .box {
    width: 45%;
    margin-bottom: 40px;
  }

  .contact form {
    width: 80%;
  }
}

@media(max-width:780px) {
  .hero .contanier {
    flex-direction: column-reverse;
  }

  .hero .hero-img img {
    width: 380px;
  }

  .hero .content h1 {
    font-size: 50px;
  }

  .hero .content {
    margin-top: 40px;
    text-align: center;
  }

  .btn {
    padding: 12px 25px;
  }

  #btn-menu {
    display: block;
    color: #B4D05A;
    font-size: 40px;

  }

  header nav .nav-links {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1C1E22;
  }

  header nav .nav-links.active {
    top: 100%;
  }

  header nav .nav-links a {
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #444;
  }

  header nav .nav-links a.active,
  header nav .nav-links a:hover {
    background-color: #B4D05A;
    color: #1c1e22;
  }
}

@media(max-width:670px) {
  .hero .content h1 {
    font-size: 40px;
  }

  .hero .hero-img img {
    width: 320px;
  }

  .boxs {
    justify-content: center;

  }

  .boxs .box {
    width: 70%;
  }

  .contact form {
    width: 90%;
  }
}

@media(max-width:500px) {
  .hero .hero-img img {
    width: 280px;
  }

  .contact form {
    width: 90%;
    justify-content: center;

  }

  .contact form input {
    width: 100%;
  }
}